# Input
set_io			i_Clk			15

set_io			i_Btn_1			51
set_io			i_Btn_2			52
set_io			i_Btn_3			53
set_io			i_Btn_4			54

# Output
set_io			o_LED[0]		56
set_io			o_LED[1]		57
set_io			o_LED[2]		59
set_io			o_LED[3]		60	